name: Connect to Azure VM

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  connect:
    runs-on: ubuntu-latest

    steps:
      - name: Create SSH directory
        run: mkdir -p ~/.ssh

      - name: Accept remote host key
        run: ssh-keyscan -H ${{ secrets.VM_IP }} >> ~/.ssh/known_hosts

      - name: Copy private key
        run: |
          echo ${{ secrets.SSH_PRIVATE_KEY }} > ~/.ssh/deployment
          sudo chmod 600 ~/.ssh/deployment

      - name: Get VM specs
        run: |
          ssh -i ~/.ssh/deployment ${{ secrets.SSH_USER }}@${{ secrets.VM_IP }} 'cat /etc/os-release' || exit 1

